node_modules/
dist/
artifacts/
cache/
coverage/
typechain-types/
.env
.env.local
proofs/generated/
web/public/proofs/generated/*
!web/public/proofs/generated/
!web/public/proofs/generated/run-4-allowed.json
!web/public/proofs/generated/run-1-allowed-v2.json
!web/public/proofs/generated/run-1-allowed-v2-final.json
*.tsbuildinfo
